include code-render.pug
doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="https://unpkg.com/chota@0.4.2/dist/chota.min.css")
    style.
      body {
        max-width: 750px;
        margin: 0 auto;
      }
      section {
        margin-bottom: 60px;
      }
      table {
        width: 100%;
      }
      ol {
        padding-left: 60px;
      }
      td {
        border: 2px solid white;
        background-color: #eeeeee;
        padding: 5px;
        vertical-align: top;
      }
      details {
        margin-bottom: 15px;
      }
      pre li, details summary {
        cursor: pointer;
      }
      pre li:target {
        background-color: #eeeeee;
      }
  body
    block content
    footer
      hr
      !=`Generated with <a href="${pgminfo.homepage}">${pgminfo.name}</a>, version ${pgminfo.version}, ${Date()}`
